node:
  restart: always
  image: ${registry_base}/eolas:${tag}
  ports:
    - "80"
  environment:
    - NODE_ENV=production
    - NODE_CONFIG={"datastore":{"dbUrl":"mongodb://${mongo_hostname}:27017"},"server":{"url":"${server_name}","port":"${server_port}"}}
